.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

  &__item {
    max-width: 450px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }

    border-radius: 4px;
  }

  &__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
  }

  &__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondery-text-color;
  }
}

.picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: $team-background-color;
}