.hero {
  background-color: #2f303a;
  text-align: center;

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;

    text-transform: uppercase;

    color: $text-hero;

    @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
    }
  }
}

.gradient {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../img/people.jpg);

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.booking {
  background-color: $active-text-color;
  color: $text-hero;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
}